# Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto
#### Kevin Torres

This notebook is the second part of the peer-assigment: Segmenting and Clustering Neighborhoods in Toronto (Week 3)

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
wikipedia_link='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
raw_wikipedia_page= requests.get(wikipedia_link).text

soup = BeautifulSoup(raw_wikipedia_page,'xml')
#print(soup.prettify()) didnÂ´t print this because the output is too large, but you can do it if you want it :)

In [3]:
table = soup.find('table')

Postcode      = []
Borough       = []
Neighbourhood = []

for tr_cell in table.find_all('tr'):
    
    counter = 1
    Postcode_var      = -1
    Borough_var       = -1
    Neighbourhood_var = -1
    
    for td_cell in tr_cell.find_all('td'):
        if counter == 1: 
            Postcode_var = td_cell.text
        if counter == 2: 
            Borough_var = td_cell.text
            tag_a_Borough = td_cell.find('a')
            
        if counter == 3: 
            Neighbourhood_var = str(td_cell.text).strip()
            tag_a_Neighbourhood = td_cell.find('a')
            
        counter +=1
        
    if (Postcode_var == 'Not assigned' or Borough_var == 'Not assigned' or Neighbourhood_var == 'Not assigned'): 
        continue
    try:
        if ((tag_a_Borough is None) or (tag_a_Neighbourhood is None)):
            continue
    except:
        pass
    if(Postcode_var == -1 or Borough_var == -1 or Neighbourhood_var == -1):
        continue
        
    Postcode.append(Postcode_var)
    Borough.append(Borough_var)
    Neighbourhood.append(Neighbourhood_var)

In [4]:
unique_p = set(Postcode)
print('num of unique Postal codes:', len(unique_p))
Postcode_u      = []
Borough_u       = []
Neighbourhood_u = []


for postcode_unique_element in unique_p:
    p_var = ''; b_var = ''; n_var = ''; 
    for postcode_idx, postcode_element in enumerate(Postcode):
        if postcode_unique_element == postcode_element:
            p_var = postcode_element;
            b_var = Borough[postcode_idx]
            if n_var == '': 
                n_var = Neighbourhood[postcode_idx]
            else:
                n_var = n_var + ', ' + Neighbourhood[postcode_idx]
    Postcode_u.append(p_var)
    Borough_u.append(b_var)
    Neighbourhood_u.append(n_var)

num of unique Postal codes: 84

In [5]:
toronto_dict = {'Postcode':Postcode_u, 'Borough':Borough_u, 'Neighbourhood':Neighbourhood_u}
df_toronto = pd.DataFrame.from_dict(toronto_dict)
df_toronto.to_csv('toronto_part1.csv')
df_toronto.head(14)

,Postcode,Borough,Neighbourhood
0,M9V,Etobicoke,"Beaumond Heights, Jamestown, Mount Olive, Silv..."
1,M3L,North York,Downsview West
2,M9R,Etobicoke,Kingsview Village
3,M5C,Downtown Toronto,St. James Town
4,M2M,North York,"Newtonbrook, Willowdale"
5,M9M,North York,"Emery, Humberlea"
6,M5T,Downtown Toronto,"Chinatown, Grange Park, Kensington Market"
7,M4W,Downtown Toronto,Rosedale
8,M9W,Etobicoke,Northwest
9,M5S,Downtown Toronto,University of Toronto
10,M1X,Scarborough,Upper Rouge
11,M9C,Etobicoke,Markland Wood
12,M5P,Central Toronto,Forest Hill North
13,M2J,North York,Henry Farm

In [6]:
df_toronto.shape

(84, 3)

In [7]:
import geocoder

In [8]:
df_toronto['Postcode'].unique()

array(['M9V', 'M3L', 'M9R', 'M5C', 'M2M', 'M9M', 'M5T', 'M4W', 'M9W',
       'M5S', 'M1X', 'M9C', 'M5P', 'M2J', 'M1L', 'M1V', 'M5H', 'M1B',
       'M2K', 'M9N', 'M4T', 'M2R', 'M5R', 'M5V', 'M4N', 'M5M', 'M6H',
       'M8X', 'M5B', 'M4G', 'M1H', 'M3H', 'M1K', 'M6A', 'M4H', 'M5E',
       'M9L', 'M1M', 'M6M', 'M9P', 'M6S', 'M3C', 'M8V', 'M8W', 'M1J',
       'M3A', 'M2H', 'M4A', 'M1T', 'M3J', 'M2L', 'M1E', 'M5L', 'M4X',
       'M4L', 'M4V', 'M9A', 'M6R', 'M4J', 'M4K', 'M5K', 'M1S', 'M4B',
       'M6B', 'M8Z', 'M4Y', 'M6K', 'M4C', 'M5X', 'M8Y', 'M5A', 'M1N',
       'M1G', 'M4E', 'M6L', 'M1P', 'M1C', 'M3K', 'M1R', 'M6J', 'M6P',
       'M9B', 'M5J', 'M1W'], dtype=object)

In [9]:
df_toronto = df_toronto.sort_values(by = ['Postcode'], ascending = True)
df_toronto.reset_index(inplace= True, drop = True)
df_toronto.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                  Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [10]:
#!pip install wget

In [11]:
import wget

In [12]:
geo = wget.download('http://cocl.us/Geospatial_data')

In [13]:
geospatial = pd.read_csv(geo)

In [14]:
geospatial.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [15]:
geospatial['Postal Code'].unique()

array(['M1B', 'M1C', 'M1E', 'M1G', 'M1H', 'M1J', 'M1K', 'M1L', 'M1M',
       'M1N', 'M1P', 'M1R', 'M1S', 'M1T', 'M1V', 'M1W', 'M1X', 'M2H',
       'M2J', 'M2K', 'M2L', 'M2M', 'M2N', 'M2P', 'M2R', 'M3A', 'M3B',
       'M3C', 'M3H', 'M3J', 'M3K', 'M3L', 'M3M', 'M3N', 'M4A', 'M4B',
       'M4C', 'M4E', 'M4G', 'M4H', 'M4J', 'M4K', 'M4L', 'M4M', 'M4N',
       'M4P', 'M4R', 'M4S', 'M4T', 'M4V', 'M4W', 'M4X', 'M4Y', 'M5A',
       'M5B', 'M5C', 'M5E', 'M5G', 'M5H', 'M5J', 'M5K', 'M5L', 'M5M',
       'M5N', 'M5P', 'M5R', 'M5S', 'M5T', 'M5V', 'M5W', 'M5X', 'M6A',
       'M6B', 'M6C', 'M6E', 'M6G', 'M6H', 'M6J', 'M6K', 'M6L', 'M6M',
       'M6N', 'M6P', 'M6R', 'M6S', 'M7A', 'M7R', 'M7Y', 'M8V', 'M8W',
       'M8X', 'M8Y', 'M8Z', 'M9A', 'M9B', 'M9C', 'M9L', 'M9M', 'M9N',
       'M9P', 'M9R', 'M9V', 'M9W'], dtype=object)

In [16]:
geospatial = geospatial.sort_values(by = ['Postal Code'], ascending = True)
geospatial.reset_index(inplace= True, drop = True)
geospatial.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [17]:
geospatial.rename(columns={'Postal Code':'Postcode'}, inplace=True)

In [18]:
geospatial.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [19]:
merge = df_toronto.merge(geospatial, on='Postcode')

In [20]:
merge.head(12)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside",43.716316,-79.239476
9,M1N,Scarborough,Birch Cliff,43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale, Wexford",43.750072,-79.295849